html{
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  /*background-image: url("http://media3.giphy.com/media/uQ9fkLUhlBnS8/giphy.gif");*/
}

section{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 1em;
  border-radius: 2em;
}

p, h1{
  font-size: 2rem;
  color: rgb(0, 0, 0);
}

.latitude{
  display: none;
}

.longitude{
  display: none;
}

.description{
  display: none;
}

.main{
  /*width: 80%;*/

}

.temperature{
  /*width: 80%;*/
}

.image{
  max-width: 8rem;
}

.title{
  text-align: center;
}
